################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ApexSound/apexsound.client/obj/Debug
/ApexSound/ApexSound.Server/bin/Debug/net8.0
/ApexSound/ApexSound.Server/obj
